@font-face {
   font-family: Montserrat;
   src: url('../fonts/Montserrat-Medium.eot');
   src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat-Medium.ttf') format('truetype'),
      url('../fonts/Montserrat-Medium.svg') format('svg');
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: Montserrat;
   src: url('../fonts/Montserrat-SemiBold.eot');
   src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../fonts/Montserrat-SemiBold.woff') format('woff'),
      url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
      url('../fonts/Montserrat-SemiBold.svg') format('svg');
   font-weight: 600;
   font-display: swap;
}

@font-face {
   font-family: Montserrat;
   src: url('../fonts/Montserrat-Bold.eot');
   src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat-Bold.ttf') format('truetype'),
      url('../fonts/Montserrat-Bold.svg') format('svg');
   font-weight: 700;
   font-display: swap;
}

/* ОБНУЛЕНИЕ */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

img {
   vertical-align: middle;
}

a,
a:visited,
a:hover {
   text-decoration: none;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

html,
body {
   height: 100%;
   line-height: 1;
}

/* ------------------------------------------------- */
body {
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 500;
   color: #17291B;
   background-color: #EDF4EF;
}

body.lock {
   overflow: hidden;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

[class*="__container"] {
   max-width: 1190px;
   margin: 0 auto;
   padding: 0px 15px;
}

/* --PC-- */
@media (max-width: 1190px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

/* --TABLET-- */
@media (max-width: 991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }
}

/* --MOBILE-- */
@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: 540px;
   }
}

/* --MOBILE SMALL-- */
@media (max-width: 575.98px) {
   [class*="__container"] {
      max-width: none;
   }
}

/* ------------------------- */

.logo {
   display: flex;
}

.logo__image {
   margin-right: 20px;
}

.logo__description {
   font-size: 20px;
   line-height: 1.2;
   max-width: 300px;
   align-self: center;
}

.logo__privacy-policy {
   font-size: 20px;
   color: #44775F;
   transition: color 0.3s ease 0s;
}

.logo__privacy-policy:hover {
   color: #17291B;
}

.socials {
   font-size: 30px;
}

.socials__icon {
   margin-right: 30px;
   color: #17291B;
   transition: color 0.3s ease 0s;
}

.socials__icon:last-child {
   margin-right: 0;
}

.contacts {
   display: flex;
   flex-direction: column;
   font-weight: 700;
}

.contacts__phone {
   display: flex;
   margin-bottom: 14px;
   color: #17291B;
   transition: color 0.3s ease 0s;
}

.contacts__phone-icon {
   margin-right: 17px;
}

.contacts__email {
   display: flex;
   color: #17291B;
   transition: color 0.3s ease 0s;
}

.contacts__email-icon {
   margin-right: 14px;
}

.socials__icon:focus,
.contacts__phone:focus,
.contacts__email:focus,
.contacts__phone:active,
.contacts__email:active,
.socials__icon:hover,
.contacts__phone:hover,
.contacts__email:hover {
   color: #44775F;
}

.title {
   font-weight: 700;
   font-size: 35px;
   line-height: 110%;
   text-align: center;
   margin-bottom: 40px;
}

.title span {
   display: inline-block;
}

/* ------ forms ------------------- */
.form-box {
   border: 3px solid #44775F;
   border-radius: 15px;
   margin: 0 auto;
   padding: 3.5% 1%;
   /* 0.85% */
}

.form-box__title {
   font-size: 25px;
   line-height: 140.4%;
   text-align: center;
   margin-bottom: 20px;
}

.form-box__form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.form-box__form>*:not(:last-child) {
   margin-bottom: 20px;
}

input[type="tel"],
input[type="text"],
textarea {
   width: 290px;
   height: 54px;
   margin: 0px 10px 0px 0px;
   font-size: 20px;
   color: #17291B;
   background: #FDFFFE;
   border-radius: 15px;
   align-items: center;
   text-align: start;
   padding: 0px 5px 0px 20px;
   transition: all 0.3s ease 0s;
}

textarea {
   height: 120px;
   resize: vertical;
}

.form-box__input_wide {
   max-width: 960px;
   width: 100%;
}

::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   color: #17291B;
   font-size: 20px;
   opacity: 0.7;
   transition: color 0.3s ease;
}

::-moz-placeholder {
   /* Firefox 19+ */
   color: #17291B;
   font-size: 20px;
   opacity: 0.7;
   transition: color 0.5s ease;
}

:-ms-input-placeholder {
   /* IE 10+ */
   color: #17291B;
   font-size: 20px;
   opacity: 0.7;
   transition: color 0.3s ease;
}

:-moz-placeholder {
   /* Firefox 18- */
   color: #17291B;
   font-size: 20px;
   opacity: 0.7;
   transition: color 0.3s ease;
}

:hover::-webkit-input-placeholder {
   color: #44775F;
}

:hover::-moz-placeholder {
   color: #44775F;
}

:hover:-moz-placeholder {
   color: #44775F;
}

:hover:-ms-input-placeholder {
   color: #44775F;
}

input:focus::-webkit-input-placeholder {
   opacity: 0;
   transition: opacity 0.8s ease;
}

input:focus::-moz-placeholder {
   opacity: 0;
   transition: opacity 0.8s ease;
}

input:focus:-moz-placeholder {
   opacity: 0;
   transition: opacity 0.8s ease;
}

input:focus:-ms-input-placeholder {
   opacity: 0;
   transition: opacity 0.8s ease;
}

.button {
   color: #FDFFFE;
   font-weight: 700;
   font-size: 20px;
   text-transform: uppercase;
   width: 290px;
   height: 54px;
   background: #44775F;
   border-radius: 15px;
   align-items: center;
   text-align: center;
   transition: all 0.5s ease 0s;
}

.button:hover {
   color: #44775F;
   background-color: #FDFFFE;
}

/* ------ cards ------------------- */
.card {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.card__image {
   align-self: center;
   position: relative;
   padding-bottom: 58%;
   margin-bottom: 35px;
   width: 210px;
}

.card__image img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
   position: absolute;
   top: 0;
   left: 0;
}

.card__image_wide img {
   left: 10%;
}

.card__content>* {
   margin-bottom: 20px;
}

.card__subtitle {
   display: inline-block;
   font-size: 25px;
}

.card__subtitle span {
   display: inline-block;
}

.card__text {
   font-size: 20px;
   line-height: 110%;
}

.card__text span {
   display: inline-block;
}

/* ------ map ------------------- */

.map {
   height: 488px;
   overflow: hidden;
}

.map__image {
   width: 100%;
}

.ymaps-2-1-79-gototech {
   display: none !important;
}

/* [class*="copyrights-pane"] {
   display: none;
} */

@media (max-width: 1190px) {
   .card__subtitle {
      font-size: 21px;
      max-width: 317px;
   }

   .card__text {
      font-size: 16px;
   }
}

@media (max-width: 991.98px) {
   .socials {
      font-size: 26px;
      flex: 1 1 auto;
      display: flex;
      justify-content: end;
   }

   .socials__icon,
   .contacts__email {
      margin-right: 25px;
   }

   .contacts {
      flex-direction: row;
      font-size: 26px;
      padding-left: 4%;
   }

   .contacts__phone {
      order: 2;
      margin-bottom: 0;
   }

   .contacts__email {
      order: 1;
   }

   .contacts__phone-number,
   .contacts__email-name {
      display: none;
   }

   .contacts__phone-icon,
   .contacts__email-icon {
      margin-right: 0;
   }

   .title {
      font-size: 30px;
   }

   .form-box__title {
      font-size: 22px;
   }

   .card__image {
      flex: 0 1 40%;
      padding-bottom: 38%;
      margin-bottom: 20px;
   }

   .card__content {
      flex: 0 1 60%;
   }

   .card__subtitle {
      font-size: 24px;
      max-width: none;
   }

   .card__text {
      font-size: 18px;
      max-width: 315px;
   }
}

@media (max-width: 767.98px) {
   .logo {
      margin-bottom: 5%;
   }

   .socials,
   .contacts {
      font-size: 35px;
      justify-content: space-between;
   }

   .socials {
      flex: 0 0 55%;
   }

   .contacts {
      flex: 0 0 45%;
      padding-left: 14%;
   }

   .title {
      font-size: 28px;
   }

   .form-box__title {
      font-size: 20px;
   }

   .form__box>*:not(:last-child) {
      margin-bottom: 15px;
   }

   input[type="tel"],
   input[type="text"],
   textarea {
      height: 50px;
      margin: 0px 0px 0px 0px;
      font-size: 18px;
      padding: 0px 5px 0px 20px;
   }

   textarea {
      height: 90px;
   }

   ::-webkit-input-placeholder {
      font-size: 18px;
   }

   ::-moz-placeholder {
      font-size: 18px;
   }

   :-ms-input-placeholder {
      font-size: 18px;
   }

   :-moz-placeholder {
      font-size: 18px;
   }

   .button {
      height: 50px;
      font-size: 18px;
   }

   .card {
      display: flex;
      flex-direction: row-reverse;
   }

   .card__image {
      flex: 0 1 20%;
      padding-bottom: 20%;
      margin-bottom: 0;
      width: fit-content;
   }

   .card__content {
      flex: 0 1 80%;
   }

   .card__subtitle {
      font-size: 24px;
      font-weight: 600;
      max-width: max-content;
   }

   .card__text {
      display: inline-block;
      font-size: 18px;
      max-width: none;
   }
}

@media (max-width: 575.98px) {
   .title {
      font-size: 24px;
      margin-bottom: 30px;
   }

   .form-box {
      border: 2px solid #44775F;
      border-radius: 5px;
   }

   .form-box__title {
      font-size: 18px;
   }

   .form__box__form>*:not(:last-child) {
      margin-bottom: 15px;
   }

   input[type="tel"],
   input[type="text"],
   textarea,
   .button {
      border-radius: 5px;
   }

   .card__subtitle {
      font-size: 20px;
      margin-bottom: 15px;
   }

   .card__text {
      font-size: 16px;
      line-height: 1.3;
   }
}

@media (max-width: 500.98px) {
   .logo__image {
      margin-right: 10px;
      max-width: 50px;
   }

   .logo__description {
      font-size: 16px;
      max-width: 250px;
   }
}

@media (max-width: 450.98px) {
   .title {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 25px;
   }
}

@media (max-width: 400.98px) {
   .logo__image {
      max-width: 35px;
   }

   .logo__description {
      font-size: 14px;
      max-width: 200px;
   }

   .socials,
   .contacts {
      font-size: 30px;
   }

   .socials__icon,
   .contacts__email {
      margin-right: 0;
   }

   .form-box__title {
      font-size: 16px;
   }

   .form__box__form>*:not(:last-child) {
      margin-bottom: 10px;
   }

   input[type="tel"],
   input[type="text"],
   textarea {
      width: 220px;
      height: 45px;
      font-size: 16px;
      padding: 0px 5px 0px 10px;
   }

   textarea {
      height: 60px;
   }

   ::-webkit-input-placeholder {
      font-size: 16px;
   }

   ::-moz-placeholder {
      font-size: 16px;
   }

   :-ms-input-placeholder {
      font-size: 16px;
   }

   :-moz-placeholder {
      font-size: 16px;
   }

   .button {
      width: 220px;
      height: 40px;
      font-size: 16px;
   }

   .card__subtitle {
      font-size: 16px;
      margin-bottom: 10px;
   }

   .card__text {
      font-size: 14px;
   }
}

@media (max-width: 350.98px) {
   .contacts {
      padding-left: 11%;
   }

   .form-box__title,
   .button {
      font-size: 14px;
   }

   .title {
      font-size: 20px;
      margin-bottom: 20px;
   }
}

/* ------ header ------------------- */
.header {
   padding-top: 6%;
   font-size: 20px;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__menu-burger,
.header__menu {
   display: none;
}

@media (max-width: 767.98px) {

   .header__container {
      flex-wrap: wrap;
   }

   .header__menu-burger,
   .header__menu {
      display: block;
   }

   .header__menu-burger {
      padding: 5px;
      align-items: center;
      margin-top: -5%;
   }

   /* menu-burger */
   .icon-menu {
      position: relative;
      width: 30px;
      height: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 50;
   }

   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      background-color: #17291B;
      height: 2px;
      border-radius: 4px;
      transition: all 0.3s ease 0s;
      position: absolute;
      left: 0;
      width: 100%;
   }

   .icon-menu span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }

   .icon-menu::before,
   .icon-menu::after {
      content: "";
   }

   .icon-menu::before {
      top: 0;
   }

   .icon-menu::after {
      bottom: 0;
   }

   .icon-menu.active span {
      transform: scale(0) translate(0px, -50%);
   }

   .icon-menu.active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }

   .icon-menu.active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }

   /* menu-body */
   .header__menu {
      border-bottom: 3px solid #44775F;
      position: fixed;
      top: -100%;
      right: 0;
      width: 100%;
      border-radius: 0px 0px 15px 15px;
      background-color: #EDF4EF;
      padding: 6% 10%;
      transition: all 0.5s ease 0s;
      overflow: auto;
      z-index: 49;
   }

   .header__menu.active {
      top: 0;
   }

   .header__menu-list {
      display: flex;
      flex-direction: column;
   }

   .header__menu-item {
      font-weight: 700;
      line-height: 1.2;
   }

   .header__menu-item:not(:first-child) {
      margin-bottom: 35px;
   }

   .header__menu-link {
      color: #17291B;
      transition: color 0.3s ease 0s;
   }

   .header__menu-link img {
      display: block;
      margin: 20px auto;
   }

   .header__menu-link:focus,
   .header__menu-link:hover {
      color: #44775F;
   }
}

@media (max-width: 575.98px) {
   .header__menu {
      border-bottom: 2px solid #44775F;
      border-radius: 0px 0px 5px 5px;
   }
}


@media (max-width: 500.98px) {
   .header__menu {
      padding: 6%;
   }

   .header__menu-item {
      font-size: 16px;
   }

   .header__menu-item:not(:first-child) {
      margin-bottom: 25px;
   }
}

@media (max-width: 350.98px) {
   .header__menu-item {
      font-size: 14px;
   }
}

/* ------ started ------------------- */
.started {
   padding-top: 40px;
}

.started__content {
   text-align: center;
   color: #FDFFFE;
   background: url('../img/started/started-bg_1166x1554.jpg') center /cover no-repeat;
   border-radius: 15px;
}

.started__blur {
   background: rgba(23, 41, 27, 0.35);
   backdrop-filter: blur(2px);
   border-radius: 15px;
   width: 100%;
   padding: 9% 4%;
   margin: 0 auto;
}

.started__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 110%;
   margin-bottom: 7%;
}

.started__subtitle {
   display: inline-block;
   font-weight: 500;
   font-size: 30px;
   line-height: 140%;
   max-width: 965px;
}

.started__subtitle:not(:last-child) {
   margin-bottom: 15px;
}

.started__image {
   display: none;
}

.started__form {
   margin-top: 40px;
}

.started__form .form-box__title {
   max-width: 940px;
   margin: 0 auto 20px;
}

@media (max-width: 1190px) {
   .started__title {
      font-size: 36px;
   }

   .started__subtitle {
      font-size: 26px;
   }
}

@media (max-width: 991.98px) {
   .started__title {
      font-size: 30px;
   }

   .started__subtitle {
      font-size: 20px;
   }
}

@media (max-width: 767.98px) {
   .started {
      padding-top: 0;
   }

   .started__content {
      color: #17291B;
      background: none;
   }

   .started__blur {
      background: none;
      backdrop-filter: blur(0px);
      padding: 5% 0%;
   }

   .started__title {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 5%;
   }

   .started__image {
      display: block;
      padding-bottom: 35%;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
   }

   .started__image img {
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: -15%;
      left: 0;
   }
}

@media (max-width: 575.98px) {
   .started__title {
      font-size: 30px;
   }

   .started__subtitle {
      font-size: 18px;
      line-height: 110%;
   }

   .started__image {
      border-radius: 5px;
   }
}

@media (max-width: 475.98px) {
   .started__title {
      font-size: 24px;
   }

   .started__subtitle {
      font-size: 16px;
   }

   .started__subtitle span {
      display: none;
   }
}

@media (max-width: 375.98px) {
   .started__title {
      font-size: 20px;
   }
}

/* ------ advantages & process ---------- */
.advantages,
.process {
   padding-top: 100px;
}

.advantages__title,
.process__title {
   margin-bottom: 35px;
}

.advantages__items {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 25px;
   justify-content: center;
}

.process__items {
   display: grid;
   grid-template-columns: repeat(auto-fill, 380px);
   gap: 20px 10px;
   justify-content: center;
}

.advantages__subtitle {
   max-width: 230px;
}

@media (max-width: 1190px) {
   .process__items {
      grid-template-columns: repeat(auto-fill, 312px);
      gap: 20px 1px;
   }

   .process__item:last-child .card__subtitle {
      max-width: 290px;
   }
}

@media (max-width: 991.98px) {

   .advantages,
   .process {
      padding-top: 80px;
   }

   .advantages__items {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 60px;
   }

   .process__items {
      grid-template-columns: repeat(auto-fill, 355px);
      gap: 20px 10px;
   }
}

@media (max-width: 767.98px) {

   .advantages,
   .process {
      padding-top: 60px;
   }

   .advantages__items,
   .process__items {
      grid-template-columns: 1fr;
      gap: 35px 0;
   }

   .advantages__item:nth-child(even) {
      flex-direction: row;
   }

   .process__item:nth-child(odd) {
      flex-direction: row;
   }

   .advantages__subtitle {
      max-width: none;
   }

   .process__items .card__content {
      align-self: center;
   }

   .process__items .card__subtitle {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 0;
   }

   .process__item:last-child .card__subtitle {
      max-width: none;
   }
}

@media (max-width: 575.98px) {

   .advantages,
   .process {
      padding-top: 40px;
   }

   .advantages__items,
   .process__items {
      row-gap: 25px;
   }

   .process__items .card__subtitle {
      font-size: 20px;
   }
}

@media (max-width: 450.98px) {

   .advantages,
   .process {
      padding-top: 30px;
   }

   .advantages__title,
   .process__title {
      margin-bottom: 25px;
   }

   .advantages__items,
   .process__items {
      row-gap: 10px;
   }

   .process__items .card__subtitle {
      font-size: 16px;
   }
}

@media (max-width: 350.98px) {
   .advantages__item:first-child .card__text {
      max-width: 185px;
   }

   .process__items .card__subtitle {
      font-size: 14px;
      max-width: 220px;
   }
}

/* ------ works ------------------- */
/* @media (max-width: 1190px) {}

@media (max-width: 991.98px) {
   .advantages {
      padding-top: 80px;
   }
}

@media (max-width: 767.98px) {
   .advantages {
      padding-top: 60px;
   }
}

@media (max-width: 575.98px) {
   .advantages {
      padding-top: 40px;
   }
} */

/* ------ feedback ------------------- */
/* @media (max-width: 1190px) {}

@media (max-width: 991.98px) {
   .advantages {
      padding-top: 80px;
   }
}

@media (max-width: 767.98px) {
   .advantages {
      padding-top: 60px;
   }
}

@media (max-width: 575.98px) {
   .advantages {
      padding-top: 40px;
   }
} */
/* ------  ------------------- */
/* @media (max-width: 1190px) {}

@media (max-width: 991.98px) {
   .advantages {
      padding-top: 80px;
   }
}

@media (max-width: 767.98px) {
   .advantages {
      padding-top: 60px;
   }
}

@media (max-width: 575.98px) {
   .advantages {
      padding-top: 40px;
   }
} */
/* ------ showroom ------------------- */

.showroom {
   padding: 200px 0px 40px 0px;
}

.showroom__container {
   display: flex;
   justify-content: space-between;
}

.showroom__content {
   flex: 0 1 760px;
   position: relative;
}

.showroom__adress {
   width: 252px;
   height: 252px;
   border-radius: 50%;
   background: #EDF4EF;
   border: 3px solid #44775F;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -40%);
   z-index: 2;
}

.showroom__text {
   font-size: 20px;
   line-height: 110%;
   color: #17291B;
   text-align: center;
}

.showroom__map {
   border: 3px solid #44775F;
   border-radius: 15px;
   overflow: hidden;
}

.showroom__form {
   flex: 0 0 360px;
}

@media (max-width: 1190px) {
   .showroom__container {
      display: flex;
      flex-direction: column;
   }

   .showroom__content {
      flex: 0 1 auto;
      position: relative;
      margin-bottom: 40px;
   }

   .showroom__adress {
      width: 200px;
      height: 200px;
      transform: translate(-50%, -40%);
   }

   .showroom__text {
      font-size: 16px;
   }

   .showroom__form {
      flex: 0 0 490px;
      align-self: center;
      width: 300px;
   }
}

@media (max-width: 991.98px) {
   .showroom {
      padding-top: 180px;
   }

   .showroom__form {
      flex: 0 0 490px;
      align-self: center;
      width: 280px;
   }
}

@media (max-width: 767.98px) {
   .showroom {
      padding-top: 160px;
   }
}

@media (max-width: 575.98px) {
   .showroom {
      padding-top: 140px;
   }

   .showroom__adress {
      border: 2px solid #44775F;
   }

   .showroom__map,
   .showroom__form {
      border: 2px solid #44775F;
      border-radius: 5px;
   }
}

/* ------ footer ------------------- */
.footer {
   padding: 40px 0px;
   border: 3px solid #44775F;
   border-radius: 15px 15px 0 0;
}

.footer__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__logo {
   display: grid;
   grid-template-columns: 105px 350px;
   grid-column-gap: 20px;
   align-items: end;
}

.footer__logo p {
   max-width: 370px;
   line-height: 1;
   align-self: flex-end;
}

.footer__logo img {
   margin: 0;
   vertical-align: bottom;
   width: 104px;
   grid-row: 1/span 4;
}

.footer__logo a {
   padding-top: 10px;
}

@media (max-width: 1190px) {

   .footer__logo {
      grid-template-columns: 80px 315px;
      grid-column-gap: 10px;
   }

   .footer__logo img {
      width: 80px;
      grid-row: 1/span 3;
   }

   .footer__logo img+p {
      padding-top: 25px;
   }

   .footer__logo a {
      grid-column: 1/-1;
   }

   .footer__contacts {
      font-size: 20px;
   }
}

@media (max-width: 991.98px) {
   .footer__contacts {
      font-size: 26px;
      order: 2;
   }

   .footer__socials {
      order: 1;
   }
}

@media (max-width: 767.98px) {

   .footer__container {
      flex-wrap: wrap;
   }

   .footer__logo a {
      padding-top: 20px;
      margin-bottom: 10px;
   }

   .footer__contacts {
      font-size: 35px;
   }
}

@media (max-width: 575.98px) {
   .footer {
      border: 2px solid #44775F;
      border-radius: 5px 5px 0 0;
   }
}

@media (max-width: 500.98px) {
   .footer__logo {
      grid-template-columns: 80px 315px;
      grid-column-gap: 10px;
   }

   .footer__logo img {
      max-width: 80px;
   }

   .footer__logo img+p {
      padding-top: 30px;
   }

   .footer__logo a {
      font-size: 16px;
   }

   .footer__contacts,
   .footer__socials {
      font-size: 30px;
   }
}

@media (max-width: 400.98px) {
   .footer {
      padding: 30px 0;
   }

   .footer__logo {
      grid-template-columns: 60px 230px;
   }

   .footer__logo img {
      max-width: 60px;
   }

   .footer__logo img+p {
      padding-top: 10px;
   }

   .footer__logo a {
      font-size: 14px;
   }
}